<hibernate-configuration>
    <!-- define settings for Hibernate's session factory -->
    <session-factory>
        <!-- DB connection settings -->
        <!-- property -> configure(setting up) db connection with SQL dialect -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!-- connecting Hibernate to db file -->
        <!-- file. -> file based db -->
        <property name="connection.url">jdbc:h2:file./data/worldbank</property>

        <!-- DB credentials: username -->
        <property name="connection.username">sa</property>

        <!-- SQL dialect; dialect translates SQL queries into a specific format
         to the db vendor -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- tells hibernate to create necessary tables-->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- informs hibernate we have a mapped entity class-->
        <mapping class="com.teamtreehouse.data.model.Country"/>

    </session-factory>
</hibernate-configuration>